*{
    margin: 0;
    padding: 0;
}

#main{
    background-color: #3F51B5;

}

#navbar{
    background-color: #3949AB;
}

#marginLeft{
    background-color: red;
}
#marginRight{
    background-color: yellow;
}